*{
  border: 1px solid red;
}
body{
  margin: 0px;
  display: grid;
  justify-content: center;

}

.menu_rv_01{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-top: 16px;
  width: 1440px;


}
.logo_rv_01{
  margin: 0px 0px 0px 120px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 28px;
}
.menu_rv_02{
  display: grid;
  grid-template-columns: auto auto;
}
.menu_rv_03{
  margin: 0px;
  display: grid;
  padding: 0px;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
.menu_rv_03 a{
  text-decoration: none;

}
