*{
  /* border: 1px solid red; */
}
body{
  margin: 0px;
  display: grid;
  justify-content: center;
  font-family: font92701;

}

.menu_rv_01{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-top: 16px;
  width: 1440px;
}
.logo_rv_01{
  margin: 0px 0px 0px 120px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 28px;
}
.menu_rv_02{
  display: grid;
  grid-template-columns: auto auto;
}
.menu_rv_03{
  margin: 0px 32px;
  display: grid;
  padding: 0px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 49px;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
.menu_rv_03 a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.select_lg_01{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 7px;
  margin: 0px 153px 0 32px;
}
.image_bg_01{
  position: absolute;
  right: 0px;
  z-index: -1;
}
.image_bg_01 figure{
  margin: 0px;
}
.content_rv_01{
  font-family: font92690;
  margin: 0px 0px 0px 120px;
  width: 544px;
}
.WelInit_rv_01 h1{
  color: #8747AB;
  font-size: 50px;
  margin: 245px 0px 0px 0px;
}
.WelInit_rv_01 h2{
  color: #3F546C;
  font-size: 20px;
  margin: 31px 0px 36px 0px;
  font-family: font92700;
}
.callus_button_rv_01{

  padding: 13px 45px;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.7142859px;
  border-radius: 7px;
  border: solid 1px #3f546c;
  background: linear-gradient(117deg, #D8D8D8, #4A51E2);
}
